<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{baselayout}">
<body>

    <div layout:fragment="content" class="container">
        <h1>About OpenCoaching</h1>
        <p style="color: var(--text-muted); line-height: 1.6;">
            <em>[People need coaching and I offer that. I'm actually pretty good at this game myself, but I can't execute half of the things that I know so I would rather teach others what to do, in hopes that they can manage to execute what I don't.]</em>
        </p>

        <h1>Contact</h1>
        <p style="color: var(--text-muted); line-height: 1.6;">
            <em>[opencoaching@gmail.com]</em>
        </p>
    </div>

</body>
</html>